dadayu:
  target: dev
  outputs:
    dev:
      type: postgres
      dbname: "{{ env_var('DADAYU_PG_DB', 'dadayu') }}"
      schema: dadayu
      host: "{{ env_var('DADAYU_PG_HOST', 'localhost') }}"
      port: "{{ env_var('DADAYU_PG_PORT', 5432) | as_number }}"
      user: "{{ env_var('DADAYU_PG_USER', 'dadayu') }}"
      password: "{{ env_var('DADAYU_PG_PASSWORD', 'dadayu') }}"
      threads: 4
