CLICKHOUSE_HOST=localhost
CLICKHOUSE_PORT=8123
CLICKHOUSE_DB=dadayu
CLICKHOUSE_USER=dadayu
CLICKHOUSE_PASSWORD=changeme
DAGSTER_PG_USER=dagster
DAGSTER_PG_PASSWORD=dagster
DAGSTER_PG_HOST=dadayu_postgres
DAGSTER_PG_DB=dagster
